@import 'common';

/* page-header */
.page-header {
    &.story-header {
        .container-fluid {
            > div {
                &.details {
                    .container {
                        small {
                            color: #6a8fca;
                        }
                        strong {
                            display: block;
                            font-size: 30px;
                            color: #fff;
                            font-weight: 900;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
    &.numbers-header {
        .container-fluid {
            > div {
                &.details {
                    .container {
                        small {
                            color: #2a6d77;
                        }
                        h3 {
                            color: #2a6d77;
                        }
                        hr {
                            background-color: #2a6d77;
                        }
                        p {
                            color: #2a6d77;
                        }
                        span {
                            color: #2a6d77;
                        }
                    }
                }
            }
        }
    }
    &.heritage-header {
        .container-fluid {
            > div {
                &.details {
                    .container {
                        small {
                            color: #8b976f;
                        }
                        h3 {
                            color: #000;
                        }
                        hr {
                            background-color: #000;
                        }
                        p {
                            color: #000;
                        }
                        span {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        &.story-header {
            .container-fluid {
                > div {
                    &.details {
                        .container {
                            strong {
                                font-size: 20px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* table */
.table-responsive {
    overflow-x: auto;
    padding-bottom: 5px;
}
.table {
    width: 100%;
    table-layout: fixed;
}

/* team */
.team {
    .container {
        article {
            figure {
                img {
                    display: block;
                    overflow: hidden;
                    border-radius: 20px;
                }
            }
            .summary {
                margin-top: 60px;
                > ul {
                    > li {
                        dl {
                            > dt {
                                font-size: 30px;
                                font-weight: 900;
                                color: #000;
                            }
                            > dd {
                                margin-top: 20px;
                            }
                        }
                        & ~ li {
                            margin-top: 60px;
                        }
                    }
                }
            }
            & ~ article {
                margin-top: 100px;
            }
        }
        .big-data {
            margin-top: 100px;
            .top {
                position: relative;
                padding: 200px 0 60px;
                padding-right: 500px;
                .note {
                    position: relative;
                    padding-left: 60px;
                    strong {
                        display: inline-block;
                        font-size: 30px;
                        font-weight: 900;
                        line-height: 1.6;
                        color: #2a6b78;
                        text-underline-offset: 10px;
                        text-decoration: underline;
                        .ico {
                            display: inline-block;
                            vertical-align: top;
                            width: 48px;
                            height: 48px;
                            background-repeat: no-repeat;
                            background-size: 40px auto;
                            background-position: 50% 50%;
                            &:first-child {
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
                .item-img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    figure {
                        position: relative;
                        width: 300px;
                        padding: 0 60px;
                        &:before {
                            position: absolute;
                            bottom: -150px;
                            left: 0;
                            width: 300px;
                            height: 300px;
                            display: block;
                            content: '';
                            border-radius: 50%;
                            background-color: #bbcecf;
                        }
                        img {
                            position: relative;
                            z-index: 1;
                            display: block;
                            max-width: 100%;
                            margin: 0 auto;
                        }
                        figcaption {
                            position: absolute;
                            bottom: 10px;
                            left: -150px;
                            text-align: right;
                            color: #000;
                            font-weight: 900;
                        }
                    }
                }
            }
            .details {
                position: relative;
                padding-left: 40px;
                .triangle {
                    position: absolute;
                    top: 76px;
                    left: 0;
                    width: 40px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-size: auto auto;
                }
                h4 {
                    position: absolute;
                    top: 20px;
                    left: 0;
                    width: 100%;
                    display: block;
                    font-size: 30px;
                    font-weight: 900;
                    color: #fff;
                    line-height: 56px;
                    padding-left: 80px;
                    background-color: #005f60;
                    .icon {
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 10px;
                        width: 40px;
                        height: 56px;
                        background-repeat: no-repeat;
                        background-size: 30px auto;
                        background-position: 50% 50%;
                    }
                }
                ul {
                    padding: 95px 45px 40px;
                    background-color: #118582;
                    > li {
                        > dl {
                            display: table;
                            width: 100%;
                            color: #fff;
                            table-layout: fixed;
                            > dt, dd {
                                display: table-cell;
                                vertical-align: top;
                            }
                            > dt {
                                position: relative;
                                width: 65px;
                                font-weight: 900;
                                &:after {
                                    position: absolute;
                                    top: 0;
                                    right: 4px;
                                    content: ':';
                                }
                            }
                        }
                        & ~ li {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        .container {
            article {
                .summary {
                    margin-top: 30px;
                    > ul {
                        > li {
                            > dl {
                                > dt {
                                    font-size: 26px;
                                }
                                > dd {
                                    margin-top: 10px;
                                }
                            }
                            & ~ li {
                                margin-top: 40px;
                            }
                        }
                    }
                }
                & ~ article {
                    margin-top: 60px;
                }
            }
            .big-data {
                margin-top: 30px;
                .top {
                    text-align: center;
                    padding: 0;
                    .note {
                        padding-left: 0;
                        strong {
                            font-size: 18px;
                            letter-spacing: -1px;
                            padding: 50px 0;
                            line-height: 1.8;
                            .ico {
                                position: absolute;
                                left: 50% !important;
                                transform: translateX(-50%);
                                &:first-child {
                                    top: 0;
                                }
                                &:last-child {
                                    bottom: 0;
                                }
                            }
                        }
                    }
                    .item-img {
                        position: static;
                        margin-top: 30px;
                        > figure {
                            margin: 0 0 0 auto;
                            width: 200px;
                            &:before {
                                width: 100%;
                                height: 200px;
                                bottom: -100px;
                            }
                            figcaption {
                                bottom: 5px;
                                left: -110px;
                                font-size: 13px;
                            }
                        }
                    }
                }
                .details {
                    padding-left: 30px;
                    .triangle {
                        top: 49px;
                        width: 30px;
                        background-size: 30px auto;
                    }
                    h4 {
                        top: 10px;
                        font-size: 18px;
                        line-height: 40px;
                        padding-left: 20px;
                        letter-spacing: -1px;
                        .icon {
                            display: none;
                        }
                    }
                    > ul {
                        padding: 58px 15px 30px;
                        > li {
                            > dl {
                                > dt {
                                    width: 51px;
                                    font-size: 14px;
                                }
                                > dd {
                                    font-size: 14px;
                                }
                            }
                            & ~ li {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* story */
.story {
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 100% 0;
    dl {
        dt {
            font-size: 30px;
            color: #6a8fca;
            font-weight: 900;
        }
        dd {
            margin-top: 20px;
        }
    }
    ul {
        li {
            & ~ li {
                margin-top: 60px;
            }
        }
    }
    figure {
        img {
            border-radius: 20px;
        }
    }
    .graph {
        img {
            display: block;
            width: 100%;
        }
    }
    .graph-wrap {
        display: table;
        margin: 60px 0;
        table-layout: fixed;
        > div {
            display: table-cell;
            vertical-align: top;
            &.graph {
                width: 360px;
            }
            &.details {
                padding-right: 60px;
            }
        }
    }
    .table-responsive {
        margin-top: 15px;
        .table {
            thead {
                tr {
                    th {
                        font-size: 20px;
                        padding: 15px 0;
                        vertical-align: middle;
                        font-weight: 900;
                        border-right: 1px solid #fff;
                    }
                }
            }
            tbody {
                tr {
                    th {
                        color: #000;
                        vertical-align: middle;
                        font-weight: bold;
                        border-right: 1px solid #333;
                        border-bottom: 1px solid #333;
                    }
                    td {
                        padding: 10px 15px;
                        vertical-align: middle;
                        color: #666;
                        border-right: 1px solid #333;
                        border-bottom: 1px solid #333;
                        &:last-child {
                            border-right: 0;
                        }
                    }
                    &:last-child {
                        th, td {
                            border-bottom-width: 3px;
                        }
                    }
                }
            }
            &.type-1 {
                thead {
                    tr {
                        th {
                            color: #fff;
                            border-right: 1px solid #fff;
                            background-color: #6b8eca;
                            &:nth-of-type(1) {
                                width: 20%;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        th {
                            background-color: #dbe2f3;
                        }
                        &.type-b {
                            th, td {
                                background-color: #fff3d2;
                            }
                        }
                        &:last-child {
                            th, td {
                                border-bottom-width: 3px;
                            }
                        }
                    }
                }
            }
            &.type-2 {
                text-align: center;
                thead {
                    tr {
                        th {
                            background-color: #aebfe2;
                            &:nth-of-type(1) {
                                width: 15%;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        th {
                            background-color: #dbe2f3;
                        }
                    }
                }
            }
        }
    }
    .attention {
        margin-top: 10px;
        font-weight: bold;
        text-align: right;
        &:before {
            content: '* ';
        }
    }
    hr {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        margin: 50px 0 10px;
    }
    article {
        .table-area {
            margin-top: 60px;
            b {
                display: block;
                font-size: 20px;
                color: #000;
                font-weight: 900;
            }
        }
        &.story-3 {
            > ul {
                margin-top: 60px;
            }
        }
        & ~ article {
            margin-top: 100px;
        }
    }
    @media(max-width: $md) {
        background-size: 180px auto;
        dl {
            > dt {
                font-size: 26px;
            }
            > dd {
                margin-top: 10px;
            }
        }
        ul {
            > li {
                & ~ li {
                    margin-top: 30px;
                }
            }
        }
        .graph-wrap {
            display: block;
            margin: 40px 0;
            > div {
                display: block;
                padding-right: 0 !important;
                width: 100% !important;
                &.graph {
                    max-width: 400px;
                    margin: 30px auto 0;
                }
            }
        }
        .table-area {
            .table-responsive {
                margin-top: 10px;
                .table {
                    min-width: 700px;
                    thead {
                        tr {
                            th {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        article {
            &.story-3 {
                > ul {
                    margin-top: 30px;
                }
            }
            & ~ article {
                margin-top: 60px;
            }
        }
    }
}

/* numbers */
.numbers {
    background-color: #2a6d79;
    .container {
        > ul {
            text-align: center;
            max-width: 1000px;
            margin: 0 auto;
            > li {
                padding-bottom: 80px;
                color: #ffcb07;
                > dl {
                    > dt {
                        font-size: 30px;
                        font-weight: 900;
                    }
                    > dd {
                        margin-top: 30px;
                        strong {
                            display: block;
                            line-height: 1;
                            span {
                                font-size: 120px;
                                font-weight: bold;
                                letter-spacing: -6px;
                                vertical-align: top;
                            }
                            sup {
                                position: relative;
                                top: 5px;
                                font-size: 30px;
                                font-weight: 500;
                            }
                        }
                        > ul {
                            margin-top: 60px;
                            font-size: 0;
                            > li {
                                display: inline-block;
                                vertical-align: top;
                                margin-right: 300px;
                                img {
                                    max-width: 80px;
                                    margin: 0 auto;
                                }
                                .top {
                                    span {
                                        font-size: 30px;
                                        font-weight: 900;
                                        vertical-align: top;
                                    }
                                    sup {
                                        position: relative;
                                        top: 5px;
                                        font-weight: 500;
                                        font-size: 13px;
                                        vertical-align: top;
                                    }
                                }
                                p {
                                    font-size: 14px;
                                    font-weight: 900;
                                    margin-top: 10px;
                                }
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                            &.line {
                                position: relative;
                                &:after {
                                    position: absolute;
                                    top: 52px;
                                    left: 50%;
                                    width: 410px;
                                    height: 30px;
                                    display: block;
                                    content: '';
                                    border-radius: 100%;
                                    border-bottom: 2px solid #ffcb07;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }
                & ~ li {
                    padding-top: 80px;
                    border-top: 1px solid #fff;
                }
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    @media(max-width: $md) {
        .container {
            > ul {
                > li {
                    padding-bottom: 60px;
                    > dl {
                        > dt {
                            font-size: 26px;
                        }
                        > dd {
                            margin-top: 15px;
                            strong {
                                span {
                                    font-size: 60px;
                                    letter-spacing: -2px;
                                }
                                sup {
                                    font-size: 16px;
                                }
                            }
                            > ul {
                                margin-top: 30px;
                                > li {
                                    margin-right: 100px;
                                    img {
                                        width: 60px;
                                    }
                                    .top {
                                        span {
                                            font-size: 20px;
                                        }
                                        sup {
                                            font-size: 10px;
                                        }
                                    }
                                }
                                &.line {
                                    &:after {
                                        top: 38px;
                                        width: 166px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                    & ~ li {
                        padding-top: 60px;
                    }
                }
            }
        }
    }
}

/* heritage */
.heritage {
    .container {
        > ul {
            > li {
                .box {
                    display: flex;
                    > div {
                        &.box-header {
                            flex-shrink: 0;
                            width: 280px;
                            padding-top: 20px;
                            border-top: 2px solid #333;
                            strong {
                                display: block;
                                font-size: 25px;
                                color: #333;
                                font-weight: 900;
                                letter-spacing: -1px;
                            }
                            > figure {
                                margin-top: 100px;
                            }
                        }
                        &.details {
                            padding-left: 60px;
                            p {
                                .highlight {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                & ~ li {
                    margin-top: 60px;
                }
            }
        }
    }
    @media(max-width: $md) {
        .container {
            > ul {
                > li {
                    .box {
                        display: block;
                        > div {
                            display: block;
                            &.box-header {
                                width: 100%;
                                text-align: center;
                                border-top: 0;
                                padding-top: 0;
                                padding-bottom: 30px;
                                strong {
                                    font-size: 20px;
                                    padding-bottom: 30px;
                                    border-bottom: 2px solid #333;
                                }
                                figure {
                                    margin-top: 30px;
                                }
                            }
                            &.details {
                                padding-left: 0;
                            }
                        }
                    }
                    & ~ li {
                        margin-top: 60px;
                    }
                }
            }
        }
    }
}






































































