@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
	margin: 0; padding: 0; border: 0; vertical-align: baseline; font-family: inherit;
}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}

// keycolor
$kcolor: #EB6E8F;

// media responsive
$sm: "768px";
$md: "1024px";
$lg: "1200px";

@mixin nns() {
    font-family: 'NanumSquare', sans-serif;
}

@mixin transition($property: all, $duration: .15s, $timing: linear, $delay: 0s) {
	-webkit-transition-property: $property;
    transition-property: $property;
	-webkit-transition-duration: $duration;
    transition-duration: $duration;
	-webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
    transition-delay: $delay;
}

body {
	min-width: 360px;
	width: 100%;
	font-size: 18px; 
    color: #333;
    font-weight: 400;
    line-height: 1.6;
	word-break: keep-all;
    box-sizing: border-box;
    @include nns();
    padding-top: 149px;
    *, *::before, *::after {
        box-sizing: border-box;
    }
    @media(max-width: $md) {
        padding-top: 71px;
        font-size: 16px;
    }
}

hr {
	display: block;
	border: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select, textarea {
    font-family: inherit;
    outline: none;
}
a, button {
    color: #000;
    cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    background: none;
    &:hover {
        color: #000;
    }
}

.container {
    display: block;
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid {
    display: block;
    width: 100%;
    padding: 0 15px;
}

/* common */
section {
    padding: 100px 0;
    @media(max-width: $md) {
        padding: 60px 0;
    }
}