@import 'common';

/* action-wrap */
.action-wrap {
    overflow: hidden;
    padding-top: 200px;
    background-color: #ec956c;
    .container {
        max-width: 930px;
        .section-top {
            padding-bottom: 60px;
            h3 {
                font-size: 0;
                span {
                    position: relative;
                    left: 40px;
                    opacity: 0;
                    display: block;
                    img {
                        display: inline-block;
                        vertical-align: top;
                        height: 80px;
                    }
                    & ~ span {
                        margin-top: 100px;
                    }
                    &:nth-of-type(1) {
                        text-align: left;
                    }
                    &:nth-of-type(2) {
                        text-align: center;
                    }
                    &:nth-of-type(3) {
                        text-align: right;
                    }
                    &:nth-of-type(1) {
                        @include transition($duration: .4s);
                        
                    }
                    &:nth-of-type(2) {
                        @include transition($duration: .4s, $delay: .2s);
                        
                    }
                    &:nth-of-type(3) {
                        @include transition($duration: .4s, $delay: .4s);
                    }
                }
            }
        }
        .section-content {
            margin-top: 100px;
            padding-top: 100px;
            padding: 60px 100px 100px;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            span {
                display: block;
                text-align: center;
                font-size: 20px;
                color: #000;
                font-weight: bold;
                b {
                    font-weight: 900;
                }
            }
            p {
                font-weight: bold;
                margin-top: 100px;
            }
        }
    }
    &.show {
        .container {
            .section-top {
                h3 {
                    span {
                        left: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        padding-top: 100px;
        .container {
            max-width: 100%;
            .section-top {
                padding-bottom: 40px;
                h3 {
                    span {
                        img {
                            height: 50px;
                        }
                        & ~ span {
                            margin-top: 40px;
                        }
                    }
                }
            }
            .section-content {
                margin-top: 60px;
                padding: 40px 30px 60px;
                span {
                    font-size: 18px;
                }
                p {
                    margin-top: 40px;
                }
            }
        }
    }
}


// Event 
.event {
    .page-header {
        .container-fluid {
            background-color: #eee;
            .details {
                background-color: #eee;
                .container {
                    small {
                        color: #121212;
                    }
                    h3 {
                        color: #121212;
                    }
                    hr {
                        background-color: #121212;
                    }
                    p {
                        color: #121212;
                    }
                    span {
                        color: #121212;
                    }
                }
            }
        }
    }
    .event {
        &:nth-of-type(1) {
            padding-top: 0;
        }
        .container-fluid {
            padding: 80px 0 ;
            .section-title {
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    max-width: 600px;
                    li {
                        font-weight: 900;
                        small {
                            font-size: 18px;
                            font-weight: 400;
                        }
                        dl {
                            display: flex;
                            gap: 10px;
                            align-items: top;
                            gap: 20px;
                            width: fit-content;
                        }
                        figure {
                            display: block;
                            margin: 0;
                            width: 100%;
                            max-width: 150px;
                            img {
                                width: 100%;
                            }
                        }
                        &:nth-of-type(1) {
                            display: block;
                            margin-left: 80px;
                            margin-right: auto;
                        }
                        &:nth-of-type(2) {
                            display: block;
                            margin: 0 auto;
                            width: fit-content;
                        }
                        &:nth-of-type(3) {
                            display: block;
                            width: fit-content;
                            margin-left: auto;
                            margin-right: 80px;
                        }
                    }
                }
            }
            .section-content {
                margin-top: 60px;
                .container {
                    .image {
                        display: block;
                        max-width: 1000px;
                        margin: 0 auto;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        li {
                            padding: 30px;
                            border: 4px solid #121212;
                            h3 {
                                margin-bottom: 20px;
                            }
                            .item {
                                display: flex;
                                gap: 30px;
                                p {
                                    width: 80%;
                                }
                                figure {
                                    width: 20%;
                                }
                            }
                            &.interview {
                                small {
                                    display: inline-block;
                                    position: relative;
                                    width: 100%;
                                    font-size: 20px;
                                    font-weight: 700;
                                    overflow: hidden;
                                    margin-bottom: 20px;
                                    /*&::after {
                                        
                                    }*/
                                    span {
                                        font-weight: 900;
                                    }
                                    .bubble {
                                        position: absolute;
                                        top: 50%;
                                        left: 150px;
                                        width: 500px;
                                        height: 15px;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-position: left;
                                    }
                                }
                                ul.review {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 30px;
                                    li {
                                        figure {
                                            max-width: 400px;
                                            margin: 0 auto;
                                        }
                                        dl {
                                            margin-top: 20px;
                                            dt {
                                                font-weight: 900;
                                                margin-bottom: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

/* ***********************1024 *********************** */
    @media(max-width: 1024px) {
        .page-header {
            .container-fluid {
                background-color: #eee;
                .details {
                    background-color: #eee;
                    .container {
                        small {
                            color: #121212;
                        }
                        h3 {
                            color: #121212;
                        }
                        hr {
                            background-color: #121212;
                        }
                        p {
                            color: #121212;
                        }
                        span {
                            color: #121212;
                        }
                    }
                }
            }
        }
        .event {
            &:nth-of-type(1) {
                padding-top: 0;
            }
            .container-fluid {
                padding: 50px 0 ;
                .section-title {
                    ul {
                        justify-content: center;
                        align-items: center;
                        gap: 30px;
                        li {
                            font-weight: 900;
                            small {
                                font-size: 18px;
                                font-weight: 400;
                            }
                            dl {
                                display: flex;
                                gap: 10px;
                                align-items: top;
                                gap: 20px;
                                width: fit-content;
                            }
                            figure {
                                display: block;
                                margin: 0;
                                width: 100%;
                                max-width: 150px;
                                img {
                                    width: 100%;
                                }
                            }
                            &:nth-of-type(1) {
                                margin: 0 auto;
                            }
                            &:nth-of-type(2) {
                                margin: 0 auto;
                            }
                            &:nth-of-type(3) {
                                margin: 0 auto;
                            }
                        }
                    }
                }
                .section-content {
                    margin-top: 60px;
                    .container {
                        .image {
                            display: block;
                            max-width: 1000px;
                            margin: 0 auto;
                        }
                        ul {
                            li {
                                padding: 15px;
                                border: 4px solid #121212;
                                h3 {
                                    margin-bottom: 20px;
                                }
                                .item {
                                    display: flex;
                                    flex-direction: column;
                                    p {
                                        width: 100%;
                                    }
                                    figure {
                                        width: 100%;
                                    }
                                }
                                &.interview {
                                    small {
                                        display: inline-block;
                                        position: relative;
                                        width: 100%;
                                        font-size: 20px;
                                        font-weight: 700;
                                        padding-right: 30px;
                                        overflow: hidden;
                                        span {
                                            font-weight: 900;
                                        }
                                        .bubble {
                                            
                                        }
                                    }
                                    ul.review {
                                        flex-direction: column;
                                        li {
                                            figure {
                                                max-width: 400px;
                                                margin: 0 auto;
                                            }
                                            dl {
                                                margin-top: 0;
                                                dt {
                                                    font-weight: 900;
                                                    margin-bottom: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Trend
.trend {
    .page-header {
        .container-fluid {
            .details {
                background-color: #dd605e;
                .container {
                    h3 {
                        span {
                            display: inline;
                            font-size: 50px;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
    .trend-wrap {
        display: block;
        .container-fluid {
            ul {
                display: block;
                margin: 0 auto;
                max-width: 1400px;
                li {
                    position: relative;
                    padding: 60px 200px;
                    background-color: #dd605e;
                    color: #fff;
                    border-radius: 500px;
                    &:nth-of-type(1) {
                        margin-bottom: 80px;
                    }
                    h3 {
                        margin-bottom: 20px;
                        font-size: 26px;
                        font-weight: 900;
                    }
                    p {
                        font-size: 20px;
                    }
                    figure {
                        position: absolute;
                        width: 200px;
                        left: -10px;
                        top: -60px;
                        &.second {
                            width: 150px;
                            left: -10px;
                        }
                    }
                }
            }
        }
    }

    // ******************************1024******************************
    @media(max-width: 1024px) {
        .trend-wrap {
            display: block;
            .container-fluid {
                ul {
                    padding-top: 50px;
                    display: block;
                    margin: 0 auto;
                    max-width: 1400px;
                    li {
                        position: relative;
                        padding: 10px;
                        padding: 150px 0;
                        background-color: #dd605e;
                        color: #fff;
                        border-radius: 500px;
                        &:nth-of-type(1) {
                            margin-bottom: 80px;
                        }
                        h3 {
                            margin-bottom: 20px;
                            font-size: 26px;
                            font-weight: 900;
                            padding: 0 15px;
                        }
                        p {
                            font-size: 20px;
                            padding: 0 15px;
                        }
                        figure {
                            position: absolute;
                            width: 200px;
                            left: -10px;
                            top: -60px;
                            &.second {
                                width: 100px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}



// Reference 
.reference {
    .reference-header {
        background-color: #e76d32;
        padding: 80px 0;
        color: #fff;
        overflow: hidden;
        .container {
            .reference-title {
                display: block;
                margin: 0 auto;
                width: 100%;
                max-width: 500px;
            }
            .reference-content {
                margin-top: 80px;
                .reference-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 50px;
                    > li {
                        display: block;
                        margin: 0 auto;
                        width: calc(100% / 2 - 25px);
                        padding: 40px;
                        border: 2px solid #121212;
                        background-color: #fff;
                        color: #e76d32;
                        small {
                            display: block;
                            font-size: 24px;
                            text-align: center;
                            font-weight: 700;
                        }
                        h3 {
                            font-size: 40px;
                            font-weight: 900;
                            text-align: center;
                            margin-bottom: 20px;
                        }
                        p {
                            color: #121212;
                        }
                        figure {
                            margin-top: 30px;
                        }
                        article {
                            overflow: hidden;
                            small {
                                display: inline-block;
                                position: relative;
                                font-size: 24px;
                                background-color: #121212;
                                padding: 2px 20px;
                                color:#fff;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 300px;
                                    height: 2px;
                                    bottom: 0;
                                    right: -300px;
                                    background-color: #121212;
                                }
                            }
                            ul {
                                margin-top: 50px;
                                display: flex;
                                flex-direction: column;
                                gap: 60px;
                                li {
                                    dl {
                                        display: flex;
                                        align-items: center;
                                        gap: 30px;
                                        margin-bottom: 30px;
                                        dt {
                                            figure {
                                                display: block;
                                                margin: 0;
                                                width: 100%;
                                                max-width: 100px;
                                            }
                                        }
                                        dd {
                                            font-size: 20px;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // ********************** 1024 ***********************
    @media(max-width: 1024px) {
        .reference-header {
            background-color: #e76d32;
            padding: 80px 0;
            color: #fff;
            .container {
                .reference-title {
                }
                .reference-content {
                    margin-top: 80px;
                    .reference-list {
                        flex-direction: column;
                        > li {
                            width: 100%;
                            padding: 20px;
                            small {
                                display: block;
                                font-size: 24px;
                                text-align: center;
                                font-weight: 700;
                            }
                            h3 {
                                font-size: 40px;
                                font-weight: 900;
                                text-align: center;
                                margin-bottom: 20px;
                            }
                            p {
                                color: #121212;
                            }
                            figure {
                                margin-top: 30px;
                            }
                            article {;
                                small {
                                    display: inline-block;
                                    position: relative;
                                    font-size: 24px;
                                    background-color: #121212;
                                    padding: 2px 20px;
                                    color:#fff;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        width: 300px;
                                        height: 2px;
                                        bottom: 0;
                                        right: -300px;
                                        background-color: #121212;
                                    }
                                }
                                ul {
                                    margin-top: 50px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 60px;
                                    li {
                                        dl {
                                            flex-direction: column;
                                            gap: 30px;
                                            margin-bottom: 30px;
                                            dt {
                                                figure {
                                                    display: block;
                                                    margin: 0;
                                                    width: 100%;
                                                    max-width: 100px;
                                                }
                                            }
                                            dd {
                                                font-size: 20px;
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}





// CULTURE & MIND
.culture {
    .page-header {
        .container-fluid {
            .details {
                background-color: #dad3e8;
                small {
                    color: #121212 !important;
                }
                h3 {
                    color: #715ca1 !important;
                }
                hr {
                    background-color: #121212 !important;
                }
                p {
                    color: #121212 !important;
                }
                span {
                    color: #121212 !important;
                }
            }
        }
    }
    .culture-wrap {
        padding-bottom: 0;
        .container {
            .section-content {
                .culture-title {
                    figure {
                        &.title {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            max-width: 250px;
                            margin-bottom: 30px;
                        }
                        &.content {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            max-width: 800px;
                            img {
                                display: block;
                                border-radius: 20px;
                            }
                        }
                    }
                    > .details {
                        margin-top: 20px;
                        ul {
                            display: block;
                            width: fit-content;
                            margin: 0 auto;
                            li {
                                small {
                                    display: block;
                                    width: fit-content;
                                    font-size: 20px;
                                    font-weight: 700;
                                }
                                dl {
                                    display: inline-block;
                                    width: fit-content;
                                    margin: 0 auto;
                                    font-size: 20px;
                                    text-align: left;
                                    dt {
                                        display: inline-block;
                                        font-weight: 700;
                                        margin-right: 10px;
                                    }
                                    dd {
                                        display: inline-block;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .culture-content {
                    margin-top: 80px;
                    ul {
                        li {
                            padding: 30px;
                            background-color: #d9d2e8;
                            border-radius: 30px;
                            & ~ li {
                                margin-top: 50px;
                            }
                            h3 {
                                margin-bottom: 20px;
                                font-size: 30px;
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
        }
        article {
            overflow: hidden;
            color: #fff;
            margin-top: 100px;
            padding: 100px 0 200px;
            background-color: #715ba1;
            .container {
                h3 {
                    font-size: 40px;
                    text-align: center;
                    font-weight: 900;
                }
                .culture-list {
                    display: table;
                    width: calc(100% + 30px);
                    table-layout: fixed;
                    margin: 60px -15px 0;
                    > li {
                        display: table-cell;
                        overflow: middle;
                        padding: 0 15px;
                        border-right: 1px dotted #fff;
                        .box {
                            .list-title {
                                padding-bottom: 20px;
                                h4 {
                                    display: block;
                                    font-size: 30px;
                                    line-height: 40px;
                                    .icon {
                                        display: inline-block;
                                        width: 40px;
                                        vertical-align: top;
                                        margin-right: 10ppx;
                                        img {
                                            display: block;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .details {
                                > ul {
                                    > li {
                                        display: table;
                                        width: 100%;
                                        table-layout: fixed;
                                        > div {
                                            display: table-cell;
                                            vertical-align: top;
                                            &.item-img {
                                                width: 120px;
                                            }
                                            &.summary {
                                                padding-left: 20px;
                                                > dl {
                                                    > dt {
                                                        font-size: 20px;
                                                        font-weight: 900;
                                                    }
                                                    > dd {
                                                        font-size: 16px;
                                                        line-height: 1.6;
                                                        margin-top: 10px;
                                                        b {
                                                            font-weight: 900;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        & ~ li {
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        .culture-wrap {
            .container {
                .section-content {
                    .culture-content {
                        margin-top: 40px;
                        > ul {
                            > li {
                                h3 {
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
            article {
                margin-top: 60px;
                padding: 60px 0 160px;
                .container {
                    h3 {
                        font-size: 26px;
                    }
                    .culture-list {
                        width: 100%;
                        margin: 0;
                        margin-top: 30px;
                        > li {
                            display: block;
                            width: 100%;
                            padding: 0;
                            border-right: 0;
                            & ~ li {
                                margin-top: 40px;
                                border-top: 1px dotted #fff;
                                padding-top: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// KEPCO NEWS
.news-wrap {
    background-color: #d4e1e1;
    .container {
        .section-header {
                .section-title {
                    border-top: 4px double #121212;
                    border-bottom: 1px solid #121212;
                    h3 {
                        font-size: 50px;
                        border-bottom: 2px solid #121212;
                        padding: 10px 0;
                    }
                    small {
                        display: block;
                        padding: 0;
                        margin: 0;
                        padding: 10px 0;
                    }
                }
            
        }
        .section-content {
            ul {
                li {
                    padding: 60px 0;
                    border-bottom: 1px solid #121212;
                    &:nth-of-type(1) {
                        padding-top: 0;
                    }
                    &:nth-last-of-type(1) {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                    h3 {
                        font-size: 30px;
                        margin-bottom: 20px;

                    }
                    p {
                        font-size: 20px;
                    }
                    figure {
                        margin: 0 auto;
                        margin-top: 20px;
                        max-width: 1000px;
                    }
                }
            }
        }
        
    }

    /* ***********************1024 *********************** */
    @media(max-width: 1024px) {
        .container {
            .section-header {
                    .section-title {
                        border-top: 4px double #121212;
                        border-bottom: 1px solid #121212;
                        h3 {
                            font-size: 50px;
                            border-bottom: 2px solid #121212;
                            padding: 10px 0;
                        }
                        small {
                            display: block;
                            padding: 0;
                            margin: 0;
                            padding: 10px 0;
                        }
                    }
                
            }
            .section-content {
                ul {
                    li {
                        padding: 60px 0;
                        border-bottom: 1px solid #121212;
                        &:nth-of-type(1) {
                            padding-top: 0;
                        }
                        &:nth-last-of-type(1) {
                            padding-bottom: 0;
                            border-bottom: none;
                        }
                        h3 {
                            font-size: 26px;
                            margin-bottom: 20px;
                            line-height: 41.6px;
                            font-weight: 900;
    
                        }
                        p {
                            font-size: 18px;
                            word-break: break-all;
                        }
                        figure {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}



/* KEPCO QUIZ */
.quiz-wrap {
    background-color: #e5926c;
    .container {
        .quiz-container {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            background-color: #fff;
            border: 8px solid #888;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            padding: 70px;
            padding-top: 130px;
            z-index: 0;
            .spring {
                position: absolute;
                top: -50px;
                left: 0;
                width: 100%;
                height: 100px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 80%;
            }
            .item-box {
                display: flex;
                flex-direction: column;
                gap: 30px;
                h3 {
                    font-size: 80px;
                    line-height: normal;
                    font-weight: 900;
                    span {
                        color: #dd625f;
                    }
                }
                > li {
                    padding-bottom: 30px;
                    border-bottom: 1px solid #121212;
                    &:nth-last-of-type(1) {
                        padding-bottom: 0;
                        border: none;
                    }
                    &.title {
                        display: flex;
                        gap: 100px;
                        justify-content: space-between;
                        align-items: center;
                    }
                    &.poem {
                        strong {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            text-align: center;
                            font-weight: 900;
                            font-size: 30px;
                            span {
                                font-size: 40px;
                                color: #dd625f;
                            }
                        }
                        .details {
                            display: block;
                            margin: 0 auto;
                            margin-top: 30px;
                            width: 80%;
                            background-color: #dd625f;
                            padding: 10px 50px;
                            border-radius: 30px;
                            color: #fff;
                            font-size: 20px;
                            small {
                                display: block;
                                font-weight: 900;
                                font-size: 20px;
                                margin-bottom: 15px;
                            }
                            dl {
                                dt {
                                    display: inline;
                                    font-weight: 900;
                                }
                                dd {
                                    display: inline;
                                }
                            }
                        }
                    }
                    &.event {
                        display: flex;
                        justify-content: space-between;
                        gap: 30px;
                        .event-1 {
                            display: block;
                            width: 50%;
                            border-right: 1px solid #121212;
                            padding-right: 15px;
                            ul {
                                li {
                                    margin-bottom: 10px;
                                    &:nth-last-of-type(1) {
                                        margin-bottom: 0;
                                    }
                                    dl {
                                        font-size: 18px;
                                        dt {
                                            display: inline-block;
                                            width: 100px;
                                            font-weight: 900;
                                            margin-right: 10px;
                                        }
                                        dd {
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                            .event-image {
                                display: flex;
                                flex-direction: row;
                                align-items: end;
                                margin-top: 30px;
                                gap: 10px;
                                figure {
                                    display:block;
                                    margin: 0;
                                    width: 100%;
                                    max-width: 100px;
                                    img {
                                        display: block;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .event-2 {
                            width: 50%;
                            small {
                                display: block;
                                font-size: 20px;
                                font-weight: 900;
                                margin-bottom: 30px;
                            }
                            figure {
                                display: block;
                                margin: 0 auto;
                                width: 100%;
                                max-width: 300px;
                                img {
                                    display: block;
                                    margin: 0;
                                    width: 100%;
                                }
                            }
                            .answer {
                                display: block;
                                margin-top: 30px;
                                width: 100%;
                                text-align: center;
                                font-size: 30px;
                                span {
                                    display: inline-block;
                                    border: 1px solid #121212;
                                    width: 60px;
                                    height: 60px;
                                    line-height: 2;
                                    vertical-align: middle;
                                    border-radius: 100%;
                                }

                            }
                        }
                    }
                    &.investigate {
                        font-size: 18px;
                        small {
                            display: block;
                            font-size: 20px;
                            font-weight: 900;
                            margin-bottom: 30px
                        }
                        > ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            gap: 10px;
                            width: fit-content;
                            li {
                                text-align: center;
                                width: calc(100% / 5 - 10px);
                            }
                        }
                    }
                }
            }
        }
    }


    /* ***********************1024 *********************** */
    @media(max-width: 1024px) {
        .container {
            .quiz-container {
                padding: 15px;
                &::before {
                    top: -55px;
                    background-size: 90%;
                }
                .item-box {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    > li {
                        &.title {
                            gap: 30px;
                            flex-direction: column;
                        }
                        &.poem {
                            strong {
                                font-size: 20px;
                                line-height: 1.5;
                                span {
                                    font-size: 30px;
                                }
                            }
                            .details {
                                width: 100%;
                                padding: 10px 20px;
                                small {
                                    display: block;
                                    font-weight: 900;
                                    font-size: 18px;
                                    margin-bottom: 10px;
                                }
                                dl {
                                    font-size: 16px;
                                    word-break: break-all;
                                    dt {
                                        display: inline;
                                        font-weight: 900;
                                    }
                                    dd {
                                        font-size: 16px;
                                        display: inline;
                                    }
                                }
                            }
                        }
                        &.event {
                            flex-direction: column;
                            .event-1 {
                                width: 100%;
                                border: none;
                                padding: 0;
                                ul {
                                    li {
                                        margin-bottom: 10px;
                                        dl {
                                            font-size: 16px;
                                            dt {
                                                display: inline-block;
                                                width: fit-content;
                                                font-weight: 900;
                                                margin-right: 10px;
                                                width: 80px;
                                            }
                                            dd {
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                                .event-image {
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    gap: 0;
                                }
                            }
                            .event-2 {
                                width: 100%;
                                small {
                                    text-align: center;
                                    font-size: 24px;
                                }
                            }
                        }
                        &.investigate {
                            font-size: 18px;
                            small {
                                text-align: center;
                                font-size: 24px;
                            }
                            > ul {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                gap: 10px;
                                li {
                                    width: calc(100% / 2 - 10px);
                                    text-align: center;
                                }
                            }
                        }
                        h3 {
                            font-size: 45px;
                            line-height: 1.5;
                            font-weight: 900;
                            text-align: center;
                            padding-top: 30px;
                            span {
                                color: #dd625f;
                            }
                        }
                    }
                }
            }
        }
    }
}

































