@import 'common';


.sakura {
    width: 100%;
    height: 100%;
    .sakura {
        background: linear-gradient(120deg, rgba(253, 0, 49, 0.9), rgba(171, 2, 34, 0.9)) !important;
    }
}

/* jumbotron */
.jumbotron {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to bottom,  rgba(255,101,50,0.4) 0%,rgba(255,137,137,0.8) 100%);
    .container-fluid {
        display: table;
        table-layout: fixed;
        max-width: 1230px;
        min-height: 800px;
        height: calc(100vh - 150px);
        margin: 0 auto;
        > div {
            display: table-cell;
            vertical-align: middle;
            &.item-img {
                figure {
                    position: relative;
                    left: 40px;
                    z-index: 1;
                    opacity: 0;
                    @include transition($duration: .6s);
                    img {
                        overflow: hidden;
                        width: 100%;
                        border-radius: 150px;
                    }
                }
            }
            &.details {
                text-align: center;
                padding-left: 60px;
                > a {
                    display: inline-block;
                    small {
                        position: relative;
                        left: 40px;
                        opacity: 0;
                        display: block;
                        font-size: 26px;
                        color: #000;
                        font-weight: 500;
                        @include transition($duration: .6s, $delay: .4s);
                    }
                    span {
                        position: relative;
                        left: 40px;
                        opacity: 0;
                        display: block;
                        font-size: 50px;
                        line-height: 1.6;
                        color: #333;
                        margin-top: 20px;
                        font-weight: 900;
                        @include transition($duration: .6s, $delay: .6s);
                    }
                    hr {
                        position: relative;
                        display: block;
                        width: 1px;
                        height: 40px;
                        margin: 30px auto;
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 1px;
                            height: 0;
                            content: '';
                            transform-origin: top;
                            background-color: #333;
                            @include transition($duration: .6s, $delay: .8s);
                        }
                    }
                    b {
                        position: relative;
                        top: 40px;
                        opacity: 0;
                        display: block;
                        font-size: 100px;
                        line-height: 1;
                        color: #ee5862;
                        font-weight: 900;
                        @include transition($duration: .6s, $delay: 1.6s);
                    }
                }
            }
        }
    }
    &.show {
        .container-fluid {
            > div {
                &.item-img {
                    > figure {
                        left: 0;
                        opacity: 1;
                    }
                }
                &.details {
                    > a {
                        small {
                            left: 0;
                            opacity: 1;
                        }
                        span {
                            left: 0;
                            opacity: 1;
                        }
                        hr {
                            &:before {
                                height: 100%;
                            }
                        }
                        b {
                            top: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        overflow: hidden;
        padding-bottom: 40px;
        .container-fluid {
            display: block;
            height: auto;
            min-height: auto;
            padding: 0;
            > div {
                display: block;
                &.item-img {
                    > figure {
                        img {
                            width: 100%;
                            border-radius: 0;
                        }
                    }
                }
                &.details {
                    padding-left: 0;
                    padding-top: 15px;
                    > a {
                        small {
                            font-size: 14px;
                        }
                        span {
                            font-size: 30px;
                            line-height: 1.2;
                            margin-top: 15px;
                        }
                        hr {
                            margin: 15px auto;
                        }
                        b {
                            font-size: 60px;
                        }
                    }
                }
            }
        }
        &.show {
            .container-fluid {
                > div {
                    &.details {
                        hr {
                            &:before {
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#content {
    //position: relative;
    //z-index: 1;
    //overflow: hidden;
}

section {
    padding: 100px 0;
    .container {
        .section-header {
            position: relative;
            opacity: 0;
            top: 60px;
            @include transition($duration: .6s);
            padding-bottom: 50px;
            h3 {
                font-size: 40px;
                color: #000;
                font-weight: 900;
            }
            .controls {
                position: absolute;
                top: calc(50% - 25px);
                right: 0;
                font-size: 0;
                transform: translateY(-50%);
                button {
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    vertical-align: top;
                    margin-right: 10px;
                    border: 1px solid #000;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:before, &:after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        font-family: 'fontello';
                        transform: translate(-50%, -50%);
                    }
                    &.prev {
                        &:before {
                            content: '\F007';
                            margin-left: -2px;
                        }
                    }
                    &.next {
                        &:before {
                            content: '\F006';
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
        .section-content {
            position: relative;
            top: 60px;
            opacity: 0;
            @include transition($duration: .6s, $delay: .3s);
        }
    }
    &.action {
        .container {
            .section-header {
                opacity: 1;
                top: 0;
            }
            .section-content {
                opacity: 1;
                top: 0;
            }
        }
    }
    @media(max-width: $md) {
        padding: 60px 0;
        .container {
            .section-header {
                padding-bottom: 30px;
                h3 {
                    font-size: 30px;
                }
                .controls {
                    top: calc(50% - 15px);
                    button {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

/* latest */
.latest {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 60px;
    background-color: #fff;
    .container {
        .section-content {
            > ul {
                font-size: 0;
                width: calc(100% + 20px);
                margin: 0 -10px;
                > li {
                    display: inline-block;
                    vertical-align: top;
                    width: 33.333333333%;
                    vertical-align: top;
                    padding: 0 10px;
                    > a {
                        display: block;
                        overflow: hidden;
                        border-radius: 16px;
                        box-shadow: 0px 12px 14px -2px rgba(0, 0, 0, .1);
                        > figure {
                            img {
                                display: block;
                                width: 100%;
                            }
                            figcaption {
                                padding: 25px;
                                background-color: #fff;
                                p {
                                    display: block;
                                    font-size: 18px;
                                    color: #000;
                                    font-weight: 600;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                small {
                                    display: block;
                                    font-size: 14px;
                                    color: #686868;
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $sm) {
        padding-top: 30px;
        .container {
            .section-content {
                > ul {
                    width: 100%;
                    margin: 0;
                    > li {
                        display: block;
                        width: 100%;
                        padding: 0;
                        & ~ li {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}

/* recommend */
.recommend {
    background-color: #383745;
    .container {
        .section-header {
            h3 {
                color: #fff;
            }
            .controls {
                button {
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
        .section-content {
            .recommend-slider {
                .swiper-wrapper {
                    .swiper-slide {
                        > a {
                            position: relative;
                            display: block;
                            overflow: hidden;
                            border-radius: 15px;
                            
                            img {
                                display: block;
                                width: 100%;
                            }
                            video {
                                display: block;
                                width: 100%;
                            }
                            .details {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                padding: 45px 20px;
                                small {
                                    display: inline-block;
                                    font-size: 16px;
                                    color: #fff;
                                    padding: 0 10px;
                                    line-height: 24px;
                                    border-radius: 50px;
                                    border: 1px solid #fff;
                                }
                                strong {
                                    display: block;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-size: 20px;
                                    color: #fff;
                                    font-weight: 900;
                                    letter-spacing: -1px;
                                    margin-top: 15px;
                                }
                            }
                            .backdrop {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: calc(100% - 151px);
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        .container {
            .section-content {
                .recommend-slider {
                    .swiper-wrapper {
                        .swiper-slide {
                            > a {
                                .details {
                                    padding: 15px 10px;
                                    small {
                                        font-size: 13px;
                                        line-height: 20px;
                                    }
                                    strong {
                                        font-size: 16px;
                                    }
                                }
                                .backdrop {
                                    height: calc(100% - 83px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* best */
.best {
    overflow: hidden;
    .container {
        .section-content {
            .best-slider {
                width: calc(100% + 20px);
                margin: 0 -10px;
                padding: 10px 10px 20px;
                .swiper-wrapper {
                    .swiper-slide {
                        > a {
                            display: block;
                            overflow: hidden;
                            border-radius: 16px;
                            box-shadow: 0px 12px 14px -2px rgba(0, 0, 0, .1);
                            > figure {
                                img {
                                    display: block;
                                    width: 100%;
                                }
                                figcaption {
                                    padding: 25px;
                                    background-color: #fff;
                                    p {
                                        display: block;
                                        font-size: 18px;
                                        color: #000;
                                        font-weight: 600;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                    small {
                                        display: block;
                                        font-size: 14px;
                                        color: #686868;
                                        margin-top: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $sm) {
        .container {
            padding: 0;
            .section-header {
                padding: 0 15px 30px;
                .controls {
                    right: 15px;
                }
            }
            .section-content {
                .best-slider {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    overflow: visible;
                    
                }
            }
        }
    }
}








































