@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-width: 360px;
  width: 100%;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  word-break: keep-all;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
  padding-top: 149px; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }
  @media (max-width: 1024px) {
    body {
      padding-top: 79px;
      font-size: 16px; } }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none; }

a, button {
  color: #000;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.container {
  display: block;
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px; }

/* common */
section {
  padding: 100px 0 200px; }
  @media (max-width: 1024px) {
    section {
      padding: 60px 0 120px; } }

/* page-header */
.page-header.story-header .container-fluid > div.details .container small {
  color: #6a8fca; }
.page-header.story-header .container-fluid > div.details .container strong {
  display: block;
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  margin-top: 15px; }
.page-header.numbers-header .container-fluid > div.details .container small {
  color: #2a6d77; }
.page-header.numbers-header .container-fluid > div.details .container h3 {
  color: #2a6d77; }
.page-header.numbers-header .container-fluid > div.details .container hr {
  background-color: #2a6d77; }
.page-header.numbers-header .container-fluid > div.details .container p {
  color: #2a6d77; }
.page-header.numbers-header .container-fluid > div.details .container span {
  color: #2a6d77; }
.page-header.heritage-header .container-fluid > div.details .container small {
  color: #8b976f; }
.page-header.heritage-header .container-fluid > div.details .container h3 {
  color: #000; }
.page-header.heritage-header .container-fluid > div.details .container hr {
  background-color: #000; }
.page-header.heritage-header .container-fluid > div.details .container p {
  color: #000; }
.page-header.heritage-header .container-fluid > div.details .container span {
  color: #000; }
@media (max-width: 1024px) {
  .page-header.story-header .container-fluid > div.details .container strong {
    font-size: 20px;
    margin-top: 10px; } }

/* table */
.table-responsive {
  overflow-x: auto;
  padding-bottom: 5px; }

.table {
  width: 100%;
  table-layout: fixed; }

/* team */
.team .container article figure img {
  display: block;
  overflow: hidden;
  border-radius: 20px; }
.team .container article .summary {
  margin-top: 60px; }
  .team .container article .summary > ul > li dl > dt {
    font-size: 30px;
    font-weight: 900;
    color: #000; }
  .team .container article .summary > ul > li dl > dd {
    margin-top: 20px; }
  .team .container article .summary > ul > li ~ li {
    margin-top: 60px; }
.team .container article ~ article {
  margin-top: 100px; }
.team .container .big-data {
  margin-top: 100px; }
  .team .container .big-data .top {
    position: relative;
    padding: 200px 0 60px;
    padding-right: 500px; }
    .team .container .big-data .top .note {
      position: relative;
      padding-left: 60px; }
      .team .container .big-data .top .note strong {
        display: inline-block;
        font-size: 30px;
        font-weight: 900;
        line-height: 1.6;
        color: #2a6b78;
        text-underline-offset: 10px;
        text-decoration: underline; }
        .team .container .big-data .top .note strong .ico {
          display: inline-block;
          vertical-align: top;
          width: 48px;
          height: 48px;
          background-repeat: no-repeat;
          background-size: 40px auto;
          background-position: 50% 50%; }
          .team .container .big-data .top .note strong .ico:first-child {
            position: absolute;
            top: 0;
            left: 0; }
    .team .container .big-data .top .item-img {
      position: absolute;
      bottom: 0;
      right: 0; }
      .team .container .big-data .top .item-img figure {
        position: relative;
        width: 300px;
        padding: 0 60px; }
        .team .container .big-data .top .item-img figure:before {
          position: absolute;
          bottom: -150px;
          left: 0;
          width: 300px;
          height: 300px;
          display: block;
          content: '';
          border-radius: 50%;
          background-color: #bbcecf; }
        .team .container .big-data .top .item-img figure img {
          position: relative;
          z-index: 1;
          display: block;
          max-width: 100%;
          margin: 0 auto; }
        .team .container .big-data .top .item-img figure figcaption {
          position: absolute;
          bottom: 10px;
          left: -150px;
          text-align: right;
          color: #000;
          font-weight: 900; }
  .team .container .big-data .details {
    position: relative;
    padding-left: 40px; }
    .team .container .big-data .details .triangle {
      position: absolute;
      top: 76px;
      left: 0;
      width: 40px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: auto auto; }
    .team .container .big-data .details h4 {
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      display: block;
      font-size: 30px;
      font-weight: 900;
      color: #fff;
      line-height: 56px;
      padding-left: 80px;
      background-color: #005f60; }
      .team .container .big-data .details h4 .icon {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        width: 40px;
        height: 56px;
        background-repeat: no-repeat;
        background-size: 30px auto;
        background-position: 50% 50%; }
    .team .container .big-data .details ul {
      padding: 95px 45px 40px;
      background-color: #118582; }
      .team .container .big-data .details ul > li > dl {
        display: table;
        width: 100%;
        color: #fff;
        table-layout: fixed; }
        .team .container .big-data .details ul > li > dl > dt, .team .container .big-data .details ul > li > dl dd {
          display: table-cell;
          vertical-align: top; }
        .team .container .big-data .details ul > li > dl > dt {
          position: relative;
          width: 65px;
          font-weight: 900; }
          .team .container .big-data .details ul > li > dl > dt:after {
            position: absolute;
            top: 0;
            right: 4px;
            content: ':'; }
      .team .container .big-data .details ul > li ~ li {
        margin-top: 10px; }
@media (max-width: 1024px) {
  .team .container article .summary {
    margin-top: 30px; }
    .team .container article .summary > ul > li > dl > dt {
      font-size: 26px; }
    .team .container article .summary > ul > li > dl > dd {
      margin-top: 10px; }
    .team .container article .summary > ul > li ~ li {
      margin-top: 40px; }
  .team .container article ~ article {
    margin-top: 60px; }
  .team .container .big-data {
    margin-top: 30px; }
    .team .container .big-data .top {
      text-align: center;
      padding: 0; }
      .team .container .big-data .top .note {
        padding-left: 0; }
        .team .container .big-data .top .note strong {
          font-size: 18px;
          letter-spacing: -1px;
          padding: 50px 0;
          line-height: 1.8; }
          .team .container .big-data .top .note strong .ico {
            position: absolute;
            left: 50% !important;
            transform: translateX(-50%); }
            .team .container .big-data .top .note strong .ico:first-child {
              top: 0; }
            .team .container .big-data .top .note strong .ico:last-child {
              bottom: 0; }
      .team .container .big-data .top .item-img {
        position: static;
        margin-top: 30px; }
        .team .container .big-data .top .item-img > figure {
          margin: 0 0 0 auto;
          width: 200px; }
          .team .container .big-data .top .item-img > figure:before {
            width: 100%;
            height: 200px;
            bottom: -100px; }
          .team .container .big-data .top .item-img > figure figcaption {
            bottom: 5px;
            left: -110px;
            font-size: 13px; }
    .team .container .big-data .details {
      padding-left: 30px; }
      .team .container .big-data .details .triangle {
        top: 49px;
        width: 30px;
        background-size: 30px auto; }
      .team .container .big-data .details h4 {
        top: 10px;
        font-size: 18px;
        line-height: 40px;
        padding-left: 20px;
        letter-spacing: -1px; }
        .team .container .big-data .details h4 .icon {
          display: none; }
      .team .container .big-data .details > ul {
        padding: 58px 15px 30px; }
        .team .container .big-data .details > ul > li > dl > dt {
          width: 51px;
          font-size: 14px; }
        .team .container .big-data .details > ul > li > dl > dd {
          font-size: 14px; }
        .team .container .big-data .details > ul > li ~ li {
          margin-top: 5px; } }

/* story */
.story {
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 100% 0; }
  .story dl dt {
    font-size: 30px;
    color: #6a8fca;
    font-weight: 900; }
  .story dl dd {
    margin-top: 20px; }
  .story ul li ~ li {
    margin-top: 60px; }
  .story figure img {
    border-radius: 20px; }
  .story .graph img {
    display: block;
    width: 100%; }
  .story .graph-wrap {
    display: table;
    margin: 60px 0;
    table-layout: fixed; }
    .story .graph-wrap > div {
      display: table-cell;
      vertical-align: top; }
      .story .graph-wrap > div.graph {
        width: 360px; }
      .story .graph-wrap > div.details {
        padding-right: 60px; }
  .story .table-responsive {
    margin-top: 15px; }
    .story .table-responsive .table thead tr th {
      font-size: 20px;
      padding: 15px 0;
      vertical-align: middle;
      font-weight: 900;
      border-right: 1px solid #fff; }
    .story .table-responsive .table tbody tr th {
      color: #000;
      vertical-align: middle;
      font-weight: bold;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333; }
    .story .table-responsive .table tbody tr td {
      padding: 10px 15px;
      vertical-align: middle;
      color: #666;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333; }
      .story .table-responsive .table tbody tr td:last-child {
        border-right: 0; }
    .story .table-responsive .table tbody tr:last-child th, .story .table-responsive .table tbody tr:last-child td {
      border-bottom-width: 3px; }
    .story .table-responsive .table.type-1 thead tr th {
      color: #fff;
      border-right: 1px solid #fff;
      background-color: #6b8eca; }
      .story .table-responsive .table.type-1 thead tr th:nth-of-type(1) {
        width: 20%; }
    .story .table-responsive .table.type-1 tbody tr th {
      background-color: #dbe2f3; }
    .story .table-responsive .table.type-1 tbody tr.type-b th, .story .table-responsive .table.type-1 tbody tr.type-b td {
      background-color: #fff3d2; }
    .story .table-responsive .table.type-1 tbody tr:last-child th, .story .table-responsive .table.type-1 tbody tr:last-child td {
      border-bottom-width: 3px; }
    .story .table-responsive .table.type-2 {
      text-align: center; }
      .story .table-responsive .table.type-2 thead tr th {
        background-color: #aebfe2; }
        .story .table-responsive .table.type-2 thead tr th:nth-of-type(1) {
          width: 15%; }
      .story .table-responsive .table.type-2 tbody tr th {
        background-color: #dbe2f3; }
  .story .attention {
    margin-top: 10px;
    font-weight: bold;
    text-align: right; }
    .story .attention:before {
      content: '* '; }
  .story hr {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 50px 0 10px; }
  .story article .table-area {
    margin-top: 60px; }
    .story article .table-area b {
      display: block;
      font-size: 20px;
      color: #000;
      font-weight: 900; }
  .story article.story-3 > ul {
    margin-top: 60px; }
  .story article ~ article {
    margin-top: 100px; }
  @media (max-width: 1024px) {
    .story {
      background-size: 180px auto; }
      .story dl > dt {
        font-size: 26px; }
      .story dl > dd {
        margin-top: 10px; }
      .story ul > li ~ li {
        margin-top: 30px; }
      .story .graph-wrap {
        display: block;
        margin: 40px 0; }
        .story .graph-wrap > div {
          display: block;
          padding-right: 0 !important;
          width: 100% !important; }
          .story .graph-wrap > div.graph {
            max-width: 400px;
            margin: 30px auto 0; }
      .story .table-area .table-responsive {
        margin-top: 10px; }
        .story .table-area .table-responsive .table {
          min-width: 700px; }
          .story .table-area .table-responsive .table thead tr th {
            font-size: 18px; }
      .story article.story-3 > ul {
        margin-top: 30px; }
      .story article ~ article {
        margin-top: 60px; } }

/* numbers */
.numbers {
  background-color: #2a6d79; }
  .numbers .container > ul {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; }
    .numbers .container > ul > li {
      padding-bottom: 80px;
      color: #ffcb07; }
      .numbers .container > ul > li > dl > dt {
        font-size: 30px;
        font-weight: 900; }
      .numbers .container > ul > li > dl > dd {
        margin-top: 30px; }
        .numbers .container > ul > li > dl > dd strong {
          display: block;
          line-height: 1; }
          .numbers .container > ul > li > dl > dd strong span {
            font-size: 120px;
            font-weight: bold;
            letter-spacing: -6px;
            vertical-align: top; }
          .numbers .container > ul > li > dl > dd strong sup {
            position: relative;
            top: 5px;
            font-size: 30px;
            font-weight: 500; }
        .numbers .container > ul > li > dl > dd > ul {
          margin-top: 60px;
          font-size: 0; }
          .numbers .container > ul > li > dl > dd > ul > li {
            display: inline-block;
            vertical-align: top;
            margin-right: 300px; }
            .numbers .container > ul > li > dl > dd > ul > li img {
              max-width: 80px;
              margin: 0 auto; }
            .numbers .container > ul > li > dl > dd > ul > li .top span {
              font-size: 30px;
              font-weight: 900;
              vertical-align: top; }
            .numbers .container > ul > li > dl > dd > ul > li .top sup {
              position: relative;
              top: 5px;
              font-weight: 500;
              font-size: 13px;
              vertical-align: top; }
            .numbers .container > ul > li > dl > dd > ul > li p {
              font-size: 14px;
              font-weight: 900;
              margin-top: 10px; }
            .numbers .container > ul > li > dl > dd > ul > li:last-child {
              margin-right: 0; }
          .numbers .container > ul > li > dl > dd > ul.line {
            position: relative; }
            .numbers .container > ul > li > dl > dd > ul.line:after {
              position: absolute;
              top: 52px;
              left: 50%;
              width: 410px;
              height: 30px;
              display: block;
              content: '';
              border-radius: 100%;
              border-bottom: 2px solid #ffcb07;
              transform: translateX(-50%); }
      .numbers .container > ul > li ~ li {
        padding-top: 80px;
        border-top: 1px solid #fff; }
      .numbers .container > ul > li:last-child {
        padding-bottom: 0; }
  @media (max-width: 1024px) {
    .numbers .container > ul > li {
      padding-bottom: 60px; }
      .numbers .container > ul > li > dl > dt {
        font-size: 26px; }
      .numbers .container > ul > li > dl > dd {
        margin-top: 15px; }
        .numbers .container > ul > li > dl > dd strong span {
          font-size: 60px;
          letter-spacing: -2px; }
        .numbers .container > ul > li > dl > dd strong sup {
          font-size: 16px; }
        .numbers .container > ul > li > dl > dd > ul {
          margin-top: 30px; }
          .numbers .container > ul > li > dl > dd > ul > li {
            margin-right: 100px; }
            .numbers .container > ul > li > dl > dd > ul > li img {
              width: 60px; }
            .numbers .container > ul > li > dl > dd > ul > li .top span {
              font-size: 20px; }
            .numbers .container > ul > li > dl > dd > ul > li .top sup {
              font-size: 10px; }
          .numbers .container > ul > li > dl > dd > ul.line:after {
            top: 38px;
            width: 166px;
            height: 20px; }
      .numbers .container > ul > li ~ li {
        padding-top: 60px; } }

/* heritage */
.heritage .container > ul > li .box {
  display: flex; }
  .heritage .container > ul > li .box > div.box-header {
    flex-shrink: 0;
    width: 280px;
    padding-top: 20px;
    border-top: 2px solid #333; }
    .heritage .container > ul > li .box > div.box-header strong {
      display: block;
      font-size: 25px;
      color: #333;
      font-weight: 900;
      letter-spacing: -1px; }
    .heritage .container > ul > li .box > div.box-header > figure {
      margin-top: 100px; }
  .heritage .container > ul > li .box > div.details {
    padding-left: 60px; }
    .heritage .container > ul > li .box > div.details p .highlight {
      font-weight: bold; }
.heritage .container > ul > li ~ li {
  margin-top: 60px; }
@media (max-width: 1024px) {
  .heritage .container > ul > li .box {
    display: block; }
    .heritage .container > ul > li .box > div {
      display: block; }
      .heritage .container > ul > li .box > div.box-header {
        width: 100%;
        text-align: center;
        border-top: 0;
        padding-top: 0;
        padding-bottom: 30px; }
        .heritage .container > ul > li .box > div.box-header strong {
          font-size: 20px;
          padding-bottom: 30px;
          border-bottom: 2px solid #333; }
        .heritage .container > ul > li .box > div.box-header figure {
          margin-top: 30px; }
      .heritage .container > ul > li .box > div.details {
        padding-left: 0; }
  .heritage .container > ul > li ~ li {
    margin-top: 60px; } }

/*# sourceMappingURL=special.css.map */
