@import 'common';

.page-header {
    &.story-header {
        background-color: rgba($kcolor, .6);
        .container-fluid {
            > div {
                &.details {
                    text-align: center;
                    small {
                        color: #ee5862;
                    }
                    h3 {
                        color: #000;
                    }
                    p {
                        color: #000;
                    }
                    hr {
                        width: 100px;
                        height: 2px;
                        margin-left: auto;
                        margin-right: auto;
                        background-color: #000;
                    }
                }
            }
        }
    }
}

/* story */
.story {
    .section-content {
        > ol {
            > li {
                .box {
                    display: flex;
                    align-items: end;
                    > div {
                        width: 50%;
                    }
                    figure {
                        img {
                            display: block;
                            width: 100%;
                            overflow: hidden;
                            border-radius: 10px;
                        }
                    }
                    .details {
                        padding-bottom: 60px;
                        > dl {
                            display: inline-block;
                            text-align: left;
                            dt {
                                font-size: 40px;
                                font-weight: bold;
                            }
                            dd {
                                margin-top: 30px;
                            }
                        }
                    }
                }
                &:nth-of-type(2n + 1) {
                    .box {
                        .details {
                            padding-left: 60px;
                        }
                    }
                }
                &:nth-of-type(2n + 2) {
                    .box  {
                        flex-direction: row-reverse;
                        .details {
                            text-align: right;
                            padding-right: 60px;
                        }
                    }
                }
                > figure {
                    margin-top: 60px;
                }
                & ~ li {
                    margin-top: 100px;
                }
            }
        }
    }
    @media(max-width: $md) {
        .section-content {
            > ol {
                > li {
                    .box {
                        flex-direction: column !important;
                        > div {
                            width: 100%;
                            &.details {
                                padding: 30px 0 0 0 !important;
                                > dl {
                                    display: block;
                                    text-align: center;
                                    dt {
                                        font-size: 30px;
                                    }
                                    dd {
                                        margin-top: 10px;
                                        br {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        figure {
                            img {
                                & ~ img {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                    & ~ li {
                        margin-top: 60px;
                    }
                }
            }
        }
    }
}


























































